@charset "UTF-8";


@media screen and (min-width: 1200px) {

  /* header */

  .inner {
    width: 1100px;
  }

  /* title */

  .main {
    padding-top: 70px;
  }

  .title {
    padding: 250px 0 250px 0;
  }

  .green_title {
    font-size: 90px;
  }

  /* green_box */

  .green_box {
    padding-top: 50px;
  }

  .iphone {
    float: left;
    width: 450px;
  }

  .heading-container {
    float: right;
    width: 650px;
  }

  .green_box_heading {
    margin-bottom: 35px;
  }

  /* content */

  .content_img_box {
    margin-bottom: 90px;
  }

  .content_img {
    float: left;
    margin-left: 100px;
  }

  .content_img:nth-child(n+4) {
    margin-top: 80px;
  }

  .content_img:nth-child(3n+1) {
    margin-left: 0;
  }

  .content_text {
    float: left;
    width: 700px;
    margin: 0 90px 0 200px;
  }

  .email_button {
    float: left;
  }

  /* circle */

  .circle_icon {
    width: 1028px;
  }

  .circle_icon_box {
    margin-right: 180px;
    float: left;
  }

  .circle_icon_box:last-child {
    margin-right: 0;
  }

  /* sns */

  .sns {
    padding: 200px 0;
  }

  .sns_inner {
    width: 740px;
  }

  .sns_icon {
    width: 185px;
    padding: 20px 0 20px 0;
  }

}

@media screen and (min-width: 768px) and (max-width: 1199px) {

  /* header */

  .inner {
    width: 97%;
  }

  /* title */

  .main {
    padding-top: 70px;
  }

  .title {
    padding: 250px 0 250px 0;
  }

  .green_title {
    font-size: 90px;
  }

  /* green_box */

  .green_box {
  padding: 50px 0 25px 0;
  }

  .green_box_heading {
    margin: 20px 0 35px 0;
  }

  /* content */

  .content_img {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }

  .content_img:nth-of-type(3n) {
    margin-bottom: 80px;
  }

  .content_text {
    margin-bottom: 40px;
  }

  .email_button {
    width: 120px;
    display: block;
    margin: 0 auto;
  }

  /* circle */

  .circle_icon_box {
    margin-bottom: 88px;
  }

  .circle_icon_box:last-child {
    margin-bottom: 0;
  }

  /* sns */

  .sns {
    padding: 200px 0;
  }

  .sns-inner {
    width: 740px;
  }

  .sns_icon {
    width: 185px;
    padding: 20px 0 20px 0;
    float: left;
  }

}

@media screen and (max-width: 767px) {


  /* header */

  .inner {
    width: 97%;
  }

  .contact_button {
    display: none;
  }

  .humberger_button {
    float: right;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .humberger_line {
    background-color: #ddd;
    margin-bottom: 5px;
    width: 24px;
    height: 2px;
  }

  .humberger_line:last-child {
    margin-bottom: 0;
  }

  /* title */

  .main {
    padding-top: 68px;
  }

  .title {
    padding: 160px 0 130px 0;
  }

  .green_title {
    font-size: 80px;
  }

  /* green_box */

  .green_box {
    padding: 50px 0 25px 0;
  }

  .green_box_heading {
    margin: 20px 0 35px 0;
  }
  
  /* content */

  .content_img {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }

  .content_img:nth-of-type(3n) {
    margin-bottom: 80px;
  }

  .content_text {
    margin-bottom: 40px;
  }

  .email_button {
    width: 120px;
    display: block;
    margin: 0 auto;
  }

  /* circle */

  .circle_icon_box {
    margin-bottom: 88px;
  }

  .circle_icon_box:last-child {
    margin-bottom: 0;
  }

  /* sns */

  .sns {
    padding: 50px 0;
  }

  .sns_icon {
    padding: 30px 0;
    width: 100%;
  }

}



/* ーーーーーーー全適応ーーーーーーー */

.inner {
  margin: 0 auto;
}

.clearfix:after{
  display: block;
  clear: both;
  content: "";
}

/* header */

.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  z-index: 1000;
}

.contact_button {
  float: right;
  font-size: 12px;
  padding: 14px 12px;
  background-color: #74cfae;
  color: #fff;
  transition: 0.3s;
  text-decoration: none;
}

.contact_button:hover {
  color: #333;
}

/* title */

.gray_title {
  font-size: 30px;
  color: #c0c0c0;
}

.green_title {
  font-weight: 700;
  margin-bottom: 20px;
  color: #74cfae;
  font-family: "Raleway",sans-serif;
}

.title {
  background-color: #f2f2f2;
  text-align: center;
}

/* green_box */

.green_box_text {
  font-size: 20px;
  line-height: 30px;
}

.green_box {
  background-color: #74cfae;
  text-align: center;
}

.heading-container {
  color: #fff;
}

.green_box_heading {
  font-size: 24px;
  font-family: "Raleway",sans-serif;
}

/* content */

.content {
  background-color: #f2f2f2;
  text-align: center;
  padding: 60px 0 70px 0;
}

.content_title {
  font-size: 24px;
  margin-bottom: 40px;
  color: #333;
  font-family: "Raleway",sans-serif;
}

.content_text {
  color: #333;
  font-size: 20px;
  line-height: 30px;
}

.content_img {
  opacity: 0.7;
  transition: 0.3s;
}

.content_img:hover {
  opacity: 1;
}

.email:hover {
  color: #333;
}


.email {
  font-size: 12px;
  padding: 14px 20px;
  background-color: #74cfae;
  color: #fff;
  transition: 0.3s;
}

.email_button {
  text-decoration: none;
}

/* circle */

.circle_icon {
  margin: 0 auto;
}

.circle_box {
  background-color: #4e4e4e;
  text-align: center;
  padding: 70px 0 100px 0;
}

.circle_title {
  color: #fff;
  margin-bottom: 70px;
  font-size: 24px;
}

.circle_name {
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
}

/* sns */

.sns {
  background-color: #f2f2f2;
  text-align: center;
}

.fab,.fas {
  text-decoration: none;
}

.sns_icon {
  color: #74cfae;
  transition: 0.3s;
}

.sns_icon:hover {
  background-color: #fff;
}

/* footer */

.footer {
  background-color: #74cfae;
  color: #fff;
  text-align: right;
  padding: 20px 0 25px 0;
}

